{% extends 'base.html' %}

{% block styles %}
<style>
  header, main, footer {
    padding-left: 0px;
  }
  .nav-wrapper {
    padding-left: 1rem;
  }
</style>
{% endblock styles %}

{% block sidenav-container %}
{% endblock sidenav-container %}
{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel center-align">
      <h4>Entrar</h4>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input id="{{ form.username.id_for_label }}"
                   name="{{ form.username.html_name }}"
                   type="text"
                   class="validate">
            <label for="{{ form.username.id_for_label }}">
              Usuário
            </label>
          </div>
          <div class="input-field col s12">
            <input id="{{ form.password.id_for_label }}"
                   name="{{ form.password.html_name }}"
                   type="password"
                   class="validate">
            <label for="{{ form.password.id_for_label }}">
              Senha
            </label>
          </div>
        </div>
        <button type="submit" class="btn">Entrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
